recursive-include wpull *.html *.css *.txt *.lua *.pem *.rst *.js *.png *.xml *.crt *.key
recursive-include icon *.png *.svg *.txt
include test/fuzz_fusil/runner.py
include README.rst requirements*.txt LICENSE.txt
recursive-include doc *.rst
include doc/make.bat doc/conf.py doc/Makefile doc/api/template.py
include scripts/wpull scripts/wpull[23]
