# Source Code
recursive-include wpull *.html *.css *.txt *.lua *.pem *.rst *.js *.png *.xml *.crt *.key

# Documentation
recursive-include doc *.rst
include doc/make.bat doc/conf.py doc/Makefile doc/api/template.py

# Icons
recursive-include icon *.png *.svg *.txt

# Readme files
include README.rst requirements*.txt LICENSE.txt

# User scripts
include scripts/wpull scripts/wpull[23]

# Extra tests
recursive-include test runner.py README.md

# Binary generators
include freezer/README.md
include freezer/cx_freeze/README.md freezer/cx_freeze/debian.patch freezer/cx_freeze/Makefile freezer/cx_freeze/windows_msi.sh
include freezer/pyinstaller/README.md freezer/pyinstaller/hooks/*.py freezer/pyinstaller/runner.py

