# Absolutely known to work versions only:
chardet>=2.0.1,<=2.3
dnspython3==1.12
html5lib>=0.999,<1.0
lxml>=3.1.0,<=3.5
namedlist>=1.3,<=1.7
psutil>=2.0,<=4.2
sqlalchemy>=0.9,<=1.0.13
tornado>=3.2.2,<5.0
typing>=3.5,<=3.5.1
yapsy==1.11.223

# Keep me sorted and update the other files :)

