chardet>=2.0.1
dnspython3>=1.12
html5lib>=0.999
# lxml>=3.1.0
namedlist>=1.3
psutil>=2.0
sqlalchemy>=0.9
tornado>=3.2.2,<5.0
typing>=3.5
yapsy>=1.11.223

# for sphinx doc
sphinx-argparse
sphinxcontrib-napoleon>=0.2.6
